<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio Lobatera</title>
		
		<link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script>
		


	</head>
	<body>


		<div id="menu-container">
			<div id="municipio-foto"><img src="../static/img/8lobatera/Lobateram.png" width="200" height="200"></div>				
			<div id="logo-name">Municipio Lobatera</div>
			<div class="separador"></div>
			<ul id="menu-vertical">
				<li><a class="btn" href="index.html">Inicio</a></li>
				<li><a class="btn" href="juegos.html">Juegos</a></li>
			</ul>
		</div>	

		
		<div id="container">
			<div id="menu"> 
				<ul>
					<li><a href="#historia">HISTORIA</a></li>
					<li><a href="#geografia">GEOGRAFIA</a></li>
					<li><a href="#inicio" class="logo">&nbsp;</a></li>
					<li><a href="#patrimonio">PATRIMONIO</a></li>
					<li><a href="#cultura">CULTURA</a></li>
				</ul>
			</div> <!--menu-->

			<div id="inicio">
				<div id="slider">	
					<div id="containerSlider">
						<img src="../static/img/BanderaTachira.png" width="850" height="450">
						<img src="../static/img/basilica3.jpg" width="850" height="450">
						<img src="../static/img/chorro.jpg" width="850" height="450">
					</div><!--containerSlider-->		
				</div><!--slider-->			
			</div><!--inicio-->
			<div align="center">
		 
			<div id="historia">
				<h2>INFORMACIÓN E HISTORIA</h2>
				<div class="contenido">

					<p><strong>Superficie</strong> 252 Km2</p>
                	<p><strong>Latitud</strong>: 07&deg; 55&acute; 46&acute;&acute;</p>
                	<p><strong>Longitud</strong>:  72&deg; 14&acute; 40&acute;&acute;</p>
                	<p><strong>Altitud</strong>: 790 msnm.</p>
                	<p><strong>Poblaci&oacute;n total</strong>: 10427&nbsp;hab.  (2011)</p>
            		<p><strong>Situaci&oacute;n geogr&aacute;fica</strong> monta&ntilde;osa.</p>


		         	<p><strong>Ubicaci&oacute;n</strong>: Al oeste del Estado T&aacute;chira.</p>
                   	<p align="justify"><strong>Limites</strong>: limita al norte con los Municipios Ayacucho y Michelena, al sur con&nbsp;Andr&eacute;s Bello, Guasimos e Independencia, al este con Jos&eacute; Mar&iacute;a Vargas y al oeste con Libertad, Pedro Mar&iacute;a Ure&ntilde;a y la&nbsp; Rep&uacute;blica de&nbsp; Colombia.</p>
		            <p><strong>Capital:</strong> Lobatera</p>
		            <p><strong>Parroquias</strong>: Parroquia Lobatera y Parroquia Constituci&oacute;n.</p>
		            <p><strong>Clima:</strong>El Municipio Lobatera, se encuentra en la zona intertropical.</p>
		            <p><strong>Tipo de clima</strong>: Tropical lluvioso de sabana, tropical de selva, tropical lluvioso de bosque, tropical de bosque y tropical paramero.</p>
              		<p><strong>Suelos</strong>:Texturas medias o gruesas con afloramiento rocosos localizados, PH ligeramente acido y suelos medianamente profundos. De acuerdo a su capacidad de uso est&aacute;n conformados por suelos de clase V y VI.</p>
              		<p><strong>Flora</strong>: Pocas &aacute;reas de bosques ubicadas en las laderas con mayores pendientes o en las cabeceras o a lo largo de los cursos de agua. </p>
            		<p><strong>Fauna</strong>: Las &aacute;reas de bosques representan refugios naturales de fauna  silvestre.</p>
                    <div class="separador"></div>
					
                    <p align="justify">El territorio del  actual municipio de Lobatera fue erigido como Viceparroquia eclesi&aacute;stica en 1750 y en parroquia civil y eclesi&aacute;stica en junio de 1773. En 1811 fue elevada al rango de Cant&oacute;n (Municipalidad)  y en 1835 se estableci&oacute; su definitiva autonom&iacute;a municipal  de la Villa de San Crist&oacute;bal, de quien depend&iacute;a. Es de los cuatro municipios  m&aacute;s antiguos del T&aacute;chira y est&aacute; representado en una de las cuatro estrellas de  la bandera oficial del Estado T&aacute;chira.</p>
                   
                   	<p><strong>Pr&oacute;cer Heroico De Lobatera.</strong>
                   	<p><strong>Don Pedro de Torres Vera</strong> (s. XVI, Ventosa de la Cuesta, Valladolid, Espa&ntilde;a - 1610 Lobatera). Fundador de Lobatera, al   establecerse all&iacute; con su familia. Se cas&oacute; con Ana P&eacute;rez del Basto  (fallecida en 1621) y tuvo dos hijos Felipa de Torres y Pedro de Torres. Lobatera y sus tierras pasaron a su hija mayor quien se cas&oacute; con el   capit&aacute;n Francisco Chac&oacute;n, Regidor Perpetuo de la ciudad del Esp&iacute;ritu Santo de La Grita y dieron origen a la familia Chac&oacute;n de Torres.</p> 
                                          
				</div><!--contenido-->
				<div id="tabHistoria">
					<div id="tabs">
						<a href="#">Bandera</a>
						<a href="#">Escudo</a>
						<a href="#">Mapa</a>
					</div><!--tabServicios-->
					<div class="tabContent">
						<img src="../static/img/8lobatera/BanderaLobateraTachira.png" width="400" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/8lobatera/Escudo_Lobatera.png" width="350" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/8lobatera/MapLobatera.png" width="350" height="350"> 
					</div>
				</div><!--tabServicos-->
			</div><!--contenido-->

			<div id="geografia">
				<h2>GEOGRAFIA</h2>
				<div class="contenido">
					<p align="justify">Es una de las veintinueve municipalidades del Estado T&aacute;chira. Ubicado en la regi&oacute;n centro-occidental del Estado, limita al norte con los municipios Ayacucho y Michelena; al sur con los municipios Andr&eacute;s Bello, Gu&aacute;simos, Independencia; al este con Jos&eacute; Mar&iacute;a Vargas; al oeste con Libertad, Pedro Mar&iacute;a Ure&ntilde;a y la Rep&uacute;blica de Colombia. Su superficie es de 252 km&sup2; y su geograf&iacute;a es totalmente monta&ntilde;osa. Su capital es Lobatera.   El Municipio tiene una parroquia; la parroquia Constituci&oacute;n con capital   en Borot&aacute; (a la cual se accede desde el cruce carretero de Palo Grande, punto donde convergen los municipios Lobatera, Gu&aacute;simos e Independencia).</p>
                    <p align="justify">La principal industria es la explotaci&oacute;n del mineral carb&oacute;n y de   fosforita, y en lo agr&iacute;cola el principal producto es la ca&ntilde;a de az&uacute;car y   sus derivados como la panela (conocida como papel&oacute;n en otras regiones   de Venezuela). Su relieve es totalmente monta&ntilde;oso andino y tiene   elevaciones que van desde los 750 msnm (La Vega, quebrada La Chirir&iacute; o Chirir&iacute;a) hasta los 2.350 msnm (hito lim&iacute;trofe de Casa del Padre).</p>
                    <p align="justify">El &aacute;rbol emblem&aacute;tico del Municipio Lobatera es el &aacute;rbol del <em>clavellino</em>, un &aacute;rbol caracterizado por ser de ornato y antierosivo. La flor emblem&aacute;tica es la <em>flor roja del clavellino</em>. Un ejemplar del mismo se encuentra en el Parque Bol&iacute;var de Lobatera. El ave emblem&aacute;tica es <em>el arrendajo</em> (<em><strong>Cacicus cela cela</strong></em>).   Ave cuyo pico es blanco verdoso p&aacute;lido y los ojos blanco-azulados. Su   plumaje es principalmente negro. Las cobertoras alares, la parte baja de   la espalda, la rabadilla, la base de la cola e infracaudales son   amarillas. El parche alar y la base de la cola son considerablemente   extensos (Hilty y Brown 1986). Su h&aacute;bitat comprende todo el territorio   del municipio y presenta mayor difusi&oacute;n en la depresi&oacute;n central y en las   monta&ntilde;as de la regi&oacute;n oriental.</p>
					        
					<div id="slideshow">
						<img src="img/8lobatera/sitiointeres3.jpg" width="300" height="230">
                        <img src="img/8lobatera/sitiointeres4.jpg" width="300" height="230">
						<img src="../static/img/8lobatera/Heroe.jpg" width="300" height="230">
						<img src="../static/img/8lobatera/sitiointeres.jpg" width="300" height="230">
						<img src="../static/img/8lobatera/sitiointeres2.jpg" width="300" height="230">
						<img src="../static/img/8lobatera/comida.jpg" width="300" height="230">
                        </div><!--slideshow-->
				</div><!--contenido-->	
			</div><!--trabajo-->

			<div id="patrimonio">
				<h2>PATRIMONIO</h2>
				<div class="contenido">
					<p align="justify"><strong>Casa del Higuer&oacute;n</strong>: Casona que se encuentra ubicada en la carrera 5, entre calles 5 y 4 (en   la actualidad dividida en varias casas pero manteniendo el mismo techo   de la vieja casona), sobre la antigua calle del Higuer&oacute;n, que recibi&oacute;   esta denominaci&oacute;n por un grande y frondoso &aacute;rbol de Higuer&oacute;n que se   encontraba en el solar de esta casa y a cuya sombra descanso El   Libertador durante su estad&iacute;a en Lobatera en 1813 y en 1820, asimismo la   casa sirvi&oacute; de posada a El Libertador.</p>
                    <p align="justify"><strong>Minas  de carb&oacute;n</strong>: Una de las m&aacute;s grandes reservas mineras de  carb&oacute;n en Venezuela. Se exporta principalmente hacia Ciudad Guayana y Maracaibo.  Comprende a la aldea Las Minas del Municipio Lobatera.</p>
				</div><!--contenido-->
			</div><!--patrimonio-->

			<div id="cultura">
				<h2>CULTURA Y SITIOS DE INTERES</h2>
				<div class="contenido">
					<p align="justify"><strong>Dentro  de este municipio tenemos las siguientes manifestaciones culturales:</strong></p>
                    <p align="justify"><strong>Preg&oacute;n de las Ferias y Fiestas de Lobatera</strong>: Las ferias y fiestas de Lobatera son una de las m&aacute;s antiguas de Venezuela y Am&eacute;rica, datan de su creaci&oacute;n formal el 22 de marzo de 1774,   por el Pbro. Dr. Manuel Antonio de Nava, quien en las constituciones de la Cofrad&iacute;a de Nuestra Se&ntilde;ora del Rosario de Chiquinquir&aacute;, patrona del pueblo, impone la obligaci&oacute;n de que se corran seis toros en honor de Nuestra Se&ntilde;ora, y se previesen los toros que se correr&iacute;an en el   siguiente a&ntilde;o.</p>
                    <p align="justify"><strong>La estatua de El Libertador de la Plaza Bol&iacute;var de Lobatera, obra del arte universal</strong>: Los or&iacute;genes de la estatua en bronce de El Libertador Sim&oacute;n Bol&iacute;var de   la Plaza Bol&iacute;var de Lobatera, se remontan a la &eacute;poca de la presidencia   del General Joaqu&iacute;n Crespo, quien hab&iacute;a dictado un decreto de fecha 23   de agosto de 1894 por medio del cual le cambiaba el nombre al Paseo El   Calvario en Caracas, creado por el Presidente Guzm&aacute;n Blanco, por Paseo   Independencia, asimismo orden&oacute; colocar a lo largo del paseo, las   estatuas de El Libertador, de pr&oacute;ceres de la Independencia y del   Almirante Crist&oacute;bal Col&oacute;n.</p>
                  
					<p align="justify"><strong>Comida  T&iacute;pica</strong>: Es variada entre  algunos platos se encuentran Cruzado (hervido entre res y gallina) y Pastelitos  con Chicha, la chicha de ma&iacute;z o Masato. Entre los platos t&iacute;picos se destacan: los pasteles de harina, cebada,  arepas de harina.</p>
                    
                    <p align="justify"><strong>Callejero de Lobatera:</strong> El urbanismo del centro hist&oacute;rico de la capital del Municipio, conserva el trazado reticular de la &eacute;poca colonial y sus calles presentan una    linealidad ortogonal tal y como lo dispon&iacute;an las Leyes de Indias. El centro del pueblo est&aacute; marcado por la cuadra que    corresponde al parque Bol&iacute;var y en su derredor se distribuyen las dem&aacute;s cuadras que alcanzan una mayor    amplitud en sentido sur-norte, desde la entrada del Humilladero hasta el puente del Cementerio sobre la quebrada Lobatera. En el sentido oeste-este, las cuadras parten desde los bordes naturales que originan las pendientes que dan a la quebrada La Molina hasta las haldas del cerro de la Cruz y del Llanos de los Ap&oacute;stoles.</p>
                    
                    <p><strong>Iglesia de Nuestra Se&ntilde;ora del Rosario de Chiquinquir&aacute; de Lobatera y Casa Cural</strong>: Se levanta en el mismo sitio que establecieron las familias fundadoras del pueblo para el oratorio y posterior capilla en 1593. El templo   colonial fue destruido por el terremoto de 1849 y el reconstruido por el   terremoto de 1875. El Padre Gabriel G&oacute;mez inici&oacute; la reconstrucci&oacute;n, manteniendo el antiguo estilo colonial y fue finalizado por el Padre   Pedro Mar&iacute;a Morales en 1908 quien lo dot&oacute; de un frontis greco-romano y unas imponentes torres que se conservan en la actualidad.</p>
                    
                    <p align="justify"><strong>Pozos Azules</strong>: Hermosos riachuelos que conforman los famosos pozos azules de aguas cristalinas. Es recomendable utilizar veh&iacute;culo r&uacute;stico para penetrar a esta zona.</p>
                    <p align="justify"><strong>Convenio Padres Carmelitas</strong>: Ubicado v&iacute;a Casa del Padre,       lugar digno de visitar, por sus instalaciones y bellezas esc&eacute;nicas, recomendado para la realizaci&oacute;n de encuentros religiosos.</p>
                    <p align="justify"><strong>Parque T&iacute;o Conejo</strong>: Parque recreacional ubicado en Borot&aacute;.</p>
                    <p align="justify"><strong>Fuente De Aguas Termales</strong>Aldea Zaragoza - quebrada La Molina, sitio de dif&iacute;cil acceso.</p>
                    <p align="justify"><strong>Pozo Bravo</strong>: Ubicado en la quebrada la Parada.</p>
	                
                    <p align="justify"><strong>Las Cuevas De Cabeza De Vaca</strong>: Ubicado en la aldea El Boc&oacute;n.</p>
                    
                     <p align="justify"><strong>La Piedra del Indio</strong>, en la aldea Zaragoza.</p>
                <p align="justify"><strong>La Piedra del Mapa</strong>, en los Molinos.</p>
                <p align="justify"><strong>La Piedra del Coraz&oacute;n</strong>, aldea La Molina - v&iacute;a Casa del Padre.</p>
                <p align="justify"><strong>La Piedra de la Culebra</strong>, en Guayabales.</p>
                <p><strong>La Piedra Angostura</strong>, a orillas del R&iacute;o.</p>
                                   
				</div><!--contenido-->
			</div>	
		</div> <!--container-->
		

	</body>
	
			
	

</html>

