<!DOCTYPE html>
<html lang="es">
<head>
<!-- Basic Page Needs
 ================================================== -->    
    <title>Campaña Admirable</title>
    <meta charset="UTF-8"/>

<!-- CSS
  ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="../static/css/estilos.css"/>
    <link rel="stylesheet" href="../static/css/estilos_index.css"/>

<!-- Facebook Specific Metas 
  ================================================== -->
<!-- the default values -->
  <meta property="og:title" content="Campaña Admirable / Guareber Tech" />
  <meta property="og:description" content="Ruta de La Campaña Admirable por el Estado Tachira" />
  <meta property="og:type" content="website" />
  
</head>
    <body>
        <header id="yo" class="Header">
            <nav class="MainMenu">
                <a class="MainMenu-link" href="#yo">Paso del Libertador por el Estado Tachira durante la Campaña Admirable en 1813</a>
            </nav>

            <figure class="Header-imageContainer">
                <img src="../static/img/rostro.jpg" class="Header-image"/>
                <figcaption class="Header-description">
                    <p class="Header-link">Campaña Admirable</p>
                </figcaption>
                <p class="Header-name">Estado Tachira</p>
            </figure>
        </header>
        <section id="perfil" class="Profile">
            <div class="u-containerDefault"> 
                
                <div class="Upper-buttons">
                    <button type="button" class="Button-municipio" id="bolivar"><a href="1bolivar.html">Bolívar</a></button>
                    <button type="button" class="Button-municipio" id="independencia"><a href="3independencia.html">Independencia</a> </button>
                    <button type="button" class="Button-municipio" id="cardenas" ><a href="5cardenas.html">Cardenas</a></button>
                    <button type="button" class="Button-municipio" id="michelena"><a href="7michelena.html">Michelena</a></button>
                    <button type="button" class="Button-municipio" id="joseMaria"><a href="9josemariaVargas.html">José María Vargas</a></button>
                </div>
                <div class="Lower-buttons">
                    <button type="button" class="Button-municipio" id="libertad"><a href="2libertad.html">Libertad</a></button>
                    <button type="button" class="Button-municipio" id="sanCristobal"><a href="4sanCristobal.html">San Cristóbal</a></button>
                    <button type="button" class="Button-municipio" id="lobatera"><a href="6lobatera.html">Lobatera</a></button>
                    <button type="button" class="Button-municipio" id="andresBello"><a href="8andresBello.html">Andres Bello</a></button>
                    <button type="button" class="Button-municipio" id="jauregui"><a href="10jauregui.html">Jaureguí</a></button>
                    
                </div>        
            </div>
        </section>
        <section id="trabajo" class="Work">
               <div class="separador"></div>
                    <div><p  align="justify">La Campaña Admirable constituye una de las más ricas páginas de nuestra historia política y militar.Concebida y dirigida por Simón Bolívar, desde el punto de vista militar permitió la liberación del eje del río Magdalena, desde Cartagena hasta Ocaña y Cúcuta, en el territorio de la para entonces llamada Nueva Granada (actual Colombia) y del occidente de Venezuela, integrado en aquel momento por las provincias de Mérida, Barinas, Trujillo y Caracas. Estos éxitos, junto con los obtenidos en oriente por Santiago Mariño, marcan el inicio de una nueva etapa del proceso de independencia y la conformación de la Segunda República.</p>
                    <p align="justify">La Campaña Admirable constituye, pues, una particular fase del proceso de independencia, la que va de diciembre del año 1812 a agosto de 1813. Comienza con las en apariencia muy insignificantes operaciones realizadas en la Nueva Granada por un joven militar a cargo de una famélica guarnición de 70 hombres en la localidad de Barrancas, desterrado por Monteverde, llegado a Cartagena poco ha de lo que él mismo llama la infeliz Caracas, y se consuma con el retorno triunfal a esta misma nueve meses después y el formal reconocimiento que se le hace como Libertador.</p></div>
                    <div class="separador"></div>
                    <figure class="Work-imageContainer">
                        <img class="Flag" src="../static/img/banderaVenezuela.png" width="400" height="300"/>
                        <img class="Flag" src="../static/img/banderaTachira.png" width="400" height="300"/>                    
                    </figure>

                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <div align="center"><video controls src="../static/flash/INTRO.ogv"  type="video/ogv" width="600" height="400"></video></div>
                        <figcaption>Simoncito</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <div align="center"><video controls src="flash/Padre.ogv"  type="video/ogv" width="600" height="400"></video></div>
                        <figcaption class="Work-description">Cura García</figcaption>
                    </figure>
                </article>  
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                        <img class="Work-image" src="../static/img/infografía.png"/>                        
                    </figure>
                </article>                         
        </section>

        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title">Integrantes: </h3>
                <p class="Footer-description">Luis Daniel Casanova</p>
                <p class="Footer-description">Juan Arrieta</p>
                <p class="Footer-description">Daniel Molina</p>
                <p class="Footer-description">Herwin Rey</p>
                <h3 class="Footer-title">En conjunto con Guareber Tech</h3>
            </div>
            <div class="Footer-form">
                <h3 class="Footer-title">En Colaboración con: </h3>
                <figure>
                    <img src="../static/img/cotatur.jpg" width="120" height="120">
                    <img src="../static/img/unefa.png" width="120" height="150">
                    <img src="../static/img/fundacion.jpg" width="150" height="150">
                </figure>
            </div>
        </footer>
    </body>
</html>

