<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio Independencia</title>
		
		<link rel="stylesheet" href="../static/css/estilos2.css">
		<link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script>


	</head>
	<body>


		<div id="menu-container">
			<div id="municipio-foto"><img src="../static/img/3independencia/IndependenciaC.png" width="200" height="200"></div>				
			<div id="logo-name">Municipio Independencia</div>
			<div class="separador"></div>
			<ul id="menu-vertical">
				<li><a class="btn" href="index.html">Inicio</a></li>
				<li><a class="btn" href="juegos.html">Juegos</a></li>
				
			</ul>
		</div>	

		
		<div id="container">
			<div id="menu"> 
				<ul>
					<li><a href="#historia">HISTORIA</a></li>
					<li><a href="#geografia">GEOGRAFIA</a></li>
					<li><a href="#inicio" class="logo">&nbsp;</a></li>
					<li><a href="#patrimonio">PATRIMONIO</a></li>
					<li><a href="#cultura">CULTURA</a></li>
				</ul>
			</div> <!--menu-->

			<div id="inicio">
				<div id="slider">	
					<div id="containerSlider">
						<img src="../static/img/BanderaTachira.png" width="850" height="450">
						<img src="../static/img/basilica3.jpg" width="850" height="450">
						<img src="../static/img/chorro.jpg" width="850" height="450">
					</div><!--containerSlider-->		
				</div><!--slider-->			
			</div><!--inicio-->
			
			<div id="historia">
				<h2>INFORMACIÓN E HISTORIA</h2>
				<div class="contenido">

		         	<p align="justify"><strong>Limites:</strong>. Norte Municipio Lobatera, Este Municipios 
                    Municipios Gu&aacute;simos, C&aacute;rdenas y San Crist&oacute;bal, Sur Municipio Libertad, Oeste Municipio Libertad</p>
                  	<p align="justify"><strong>Capital: </strong>La capital, Capacho Nuevo, fue  fundada el 15 de junio de 1567, su nombre se debe a los abor&iacute;genes Capuchos.</p>
                  	<p align="justify"><strong>Parroquias: </strong>Independencia, Pquia. Capital, Pquia.  Juan Germ&aacute;n Roscio, Pquia. Rom&aacute;n C&aacute;rdenas.</p>
                  	<p align="justify"><strong>Clima:</strong> Precipitacion Media Anual(mm.): 700-900/ Temperatura Media Anual: 17-27.</p>
                  	<p align="justify"><strong>Clima De La Capital:</strong> Precipitacion Media Anua(mm.): 717/ Temperatura Media Anual: 26.3.</p>
                    <p align="justify"><strong>Clasificacion Climatica: </strong>Bosque seco premontano, bosque seco  montano bajo y bosque h&uacute;medo premontano </p>
                  	<p align="justify"><strong>Contexto Hidrografico: </strong>Entre los recursos h&iacute;dricos que se  destacan tenemos: R&iacute;o Capacho y las quebradas: La Ju&aacute;rez, La Laja, Zorca, La  Sapera, Palo Gordo, Pajitas y Molina.</p>
                  	<p align="justify"><strong>Suelos: </strong>Texturas de medias a finas,  medianamente profundas con pH &aacute;cido. De acuerdo a su capacidad de uso est&aacute;n con  formadas por suelos V y VI</p>
                  	<p align="justify"><strong>Fauna:</strong> Este recurso est&aacute; representado  por una gran variedad de especies de la avifauna, localizadas en las pocas  &aacute;reas boscosas existentes</p>
                  	<p align="justify"><strong>Flora: </strong>La Zona de Aprovechamiento Agr&iacute;cola  Valle de Peribeca, Zona Protectora de Rubio,P&aacute;ramo La Laja.</p>
              		<div class="separador"></div>
					<p align="justify">La poblaci&oacute;n de Capacho desciende de los ind&iacute;genas  sedentarios Capuchos, que cultivaban ma&iacute;z, papa, yuca y frutas, practicaban la  pesca en agua dulce y se alimentaban de la fauna de su entorno.</p>
                    <p align="justify">Fue creado a ra&iacute;z del terremoto del 18 de Mayo  de 1875, donde las autoridades y la mayor&iacute;a de los habitantes del Municipio  Libertad decidieron trasladar el poblado hacia las Colinas de Blanquizal, donde  el 20 de Mayo de 1875, se funda el nuevo San Pedro de Capacho Independencia con  la iniciativa que estuvo a cargo del padre Jos&eacute; Encarnaci&oacute;n Montilla.</p>
					<p align="justify"><strong>Campa&ntilde;a admirable sobre el Municipio Independencia: </strong>En el a&ntilde;o 1813 el Libertador Sim&oacute;n Bol&iacute;var durante su  paso por el Municipio Independencia pernoto en Rancher&iacute;as (una posada para los  viajeros), donde se le organiz&oacute; una Fiesta Bailable que permit&iacute;a la llegada de  lugare&ntilde;as. El Libertador fija su mirada penetrante en una joven llamada Juana  Pastrana Salcedo, quien en una bella noche bailo con el Libertador.Este suceso estuvo de boca en boca durante mucho tiempo,  donde cada vez que pasaba Juana Pastrana Salcedo las personas dec&iacute;an:
                    &ldquo;All&aacute; va Juana Pastrana quien bailo en Rancher&iacute;a con  Bol&iacute;var&rdquo;. Hoy en d&iacute;a esta Posada fue restaurada y solo se conserva  dos paredes de la estructura antigua, que hace honor a Juana Pastrana Salcedo,  quien muri&oacute; a la edad de 110 a&ntilde;os en 1910. </p>
                    <p><strong>Bandera: </strong>Creada por Reyes Bustamante A. quien  participo en concurso abierto de 22 competidores y declarada por Decreto  Municipal N&deg; 74 del 17 de Mayo de 2004 bajo el periodo Gubernamental del  Alcalde Luis Mar&iacute;a Mendoza </p>
                    <p><strong>Escudo: </strong>Seg&uacute;n Acuerdo de la C&aacute;mara  Municipal&nbsp; de fecha 24 de Junio de 1997,  se corrige la denominaci&oacute;n del Escudo de Armas del ese entonces Distrito  Capital,&nbsp; por Municipio Independencia. </p>
				</div><!--contenido-->
				<div id="tabHistoria">
					<div id="tabs">
						<a href="#">Bandera</a>
						<a href="#">Escudo</a>
						<a href="#">Mapa</a>
					</div><!--tabServicios-->
					<div class="tabContent">
						<img src="../static/img/3independencia/bandera.jpg" width="400" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/3independencia/escudo.jpg" width="350" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/3independencia/independenciaG.png" width="350" height="350"> 
					</div>
				</div><!--tabServicos-->
			</div><!--contenido-->

			<div id="geografia">
				<h2>GEOGRAFIA</h2>
				<div class="contenido">
					<p align="justify">Se encuentra   ubicado en la parte Centro Occidental del Estado T&aacute;chira,su altura es de   1.270 m.s.n.m., posee una superficie de 80 Km2. y su temperatura oscila   entre 15&ordm; a 24&ordm; C. Su poblaci&oacute;n es de 29.407 habitantes.Capacho Nuevo es un pueblo con excelentes posibilidades de desarrollo, debido a que se encuentra en zona fronteriza. </p>
              		<p></p>
             		<p align="justify"></p>
              
					<div id="slideshow">
						<img src="../static/img/3independencia/cuartel.jpg" width="300" height="230">
						<img src="../static/img/3independencia/iglesia.jpg" width="300" height="230">
						<img src="../static/img/3independencia/museo.png" width="300" height="230">
						<img src="../static/img/3independencia/mausoleo.jpg" width="300" height="230">
						<img src="../static/img/3independencia/leon.jpg" width="300" height="230">
						<img src="../static/img/3independencia/mercado.jpg" width="300" height="230">
						<img src="../static/img/3independencia/toro.jpg" width="300" height="230">
						<img src="../static/img/3independencia/Casa Historica.jpg" width="300" height="230">
					</div><!--slideshow-->
				</div><!--contenido-->	
			</div><!--trabajo-->

			<div id="patrimonio">
				<h2>PATRIMONIO</h2>
				<div class="contenido">
					<p><strong>Cuartel  de Capacho</strong>: Fue creado para que sirviera de escuela para varones a comienzos  del siglo XX en el gobierno del General Cipriano Castro.</p>                
					
					 <p align="justify"><strong>Palacio Municipal/Alcald&iacute;a del Municipio  Independencia</strong>Es una r&eacute;plica de la  estaci&oacute;n de tren Alemana que ya no existe</p>              
					 <p align="justify"><strong>Mercado de Capacho</strong></p>
					 <p align="justify"><strong>Escultura de Leones de Capacho</strong> : Construidas en  bronce y tra&iacute;das desde Francia en 1907 durante el Gobierno de Cipriano Castro.  Estas esculturas simbolizan astucia y sagacidad capachense</p>
					               

				</div><!--contenido-->
			</div><!--patrimonio-->

			<div id="cultura">
				<h2>CULTURA Y SITIOS DE INTERES</h2>
				<div class="contenido">
					<p align="justify"><strong>Toro e&rsquo; candela: </strong>Es una  celebraci&oacute;n decembrina, que consiste en torear al toro en llamas.</p>
					<p align="justify"><strong>Ferias de San Pedro de Independencia: </strong>El 29 de  junio de cada a&ntilde;o se celebra con mucha devoci&oacute;n el d&iacute;a del patrono San Pedro.  Para su celebraci&oacute;n se toma una semana en la que se realiza una gran cantidad  de actividades como vendimias, templetes fiestas de gala, charlas de tipo  deportiva, vuelta en bicicletas, marat&oacute;n, danzas, entre otras actividades. Toda  la comunidad participa en esta celebraci&oacute;n.</p>
					<p align="justify"><strong>Palo Ensebado: </strong>Es un juego que se realiza en las  ferias y fiestas de San Pedro. Consiste en engrasar un palo pulido de 12 metros  de altura. En su parte m&aacute;s alta se le colocara un premio y quien llegue lo  tomara para &eacute;l.</p>
					<p align="justify"><strong>Celebraci&oacute;n de los santos inocentes: </strong>Se celebra  los 28 de Diciembre de cada a&ntilde;o. Consiste en hacerle una broma a las personas  con el fin de enga&ntilde;arlos, envi&aacute;ndoles algo en malas condiciones, comunic&aacute;ndoles  algo falso o coloc&aacute;ndole sal en el caf&eacute;.</p>
					<p align="justify"><strong>Mes de Mar&iacute;a: </strong>Se celebra en  el mes de Mayo. Durante esos d&iacute;as se reza el rosario, se realizan altares con  flores en las casas, se colocan banderas de color azul y blanco. Cada noche le  corresponde a una familia recibir a la Virgen y rezar el rosario. Durante esta  actividad se reparte chocolate y pan a los invitados.</p>
					<p align="justify"><strong>Elaboraci&oacute;n de la panela de  az&uacute;car: </strong> Se elabora con ca&ntilde;a de az&uacute;car molida y se coloca el liquido en calderas  de cobre para calentarlo, agreg&aacute;ndole cal viva, roble, aceite de comer y  cuadrado de miel. Al espesar este liquido es depositado en moldes de madera  cuadrados llamado tacha. </p>
					<p align="justify"><strong></strong></p>
					<p align="justify"><strong></strong></p>


					<p align="justify"><strong>Museo del General Cipriano Castro: </strong>Aqu&iacute; se  encuentra la Biblioteca P&uacute;blica y el Museo Cipriano Castro donde se encuentran  objetos y documentos personales del General.</p>
					<p align="justify"><strong>Mausoleo del General Cipriano Castro:</strong> En esta  edificaci&oacute;n reposaron los restos de Cipriano Castro tra&iacute;dos desde Puerto Rico  hasta el a&ntilde;o 2003.</p>
					<p align="justify"><strong>Peribeca</strong>:  Es un pueblo Colonial peque&ntilde;o, donde podremos disfrutar de una arquitectura  estilo colonial, calles empedradas y casas pintadas con llamativos colores.</p>
					<p align="justify"><strong>Iglesia San Pedro Ap&oacute;stol</strong>:  Es una edificaci&oacute;n  m&aacute;s antigua del Municipio. </p>
					<p align="justify"><strong>Monumento  al Cristo Rey</strong>: Ubicado en la parte lim&iacute;trofe de los dos Capachos. Tiene una  altura de 30 metros y se encuentra a 1500 metros de altitud. </p>
					<p align="justify"><strong>Iglesia El Carmen</strong>: Su estructura es de muros de  tapia, cubierta con machihembrado sobre tirantes de madera y tejas. Su fachada  es colonial revestida de piedra.</p>
					<p align="justify"><strong>Camino  del Libertados Sim&oacute;n Bol&iacute;var: </strong>Antiguo camino que un&iacute;a a Venezuela y Colombia,  por el que transito nuestro Libertador en su Campa&ntilde;a Admirable. </p>
					<p align="justify"><strong>Plaza Bol&iacute;var de Independencia: </strong> Esta ubicada al  frente de la Iglesia San Pedro</p>        
					<p align="justify"><strong>Parque  Zool&oacute;gico Recreacional La Laguna</strong>En este parque se puede disfrutar de un  ambiente natural y 32 especies de animales diferentes. Su principal atracci&oacute;n  es el Oso Frontino.</p>

			            					      
				</div><!--contenido-->
			</div>	
		</div> <!--container-->
		

	</body>
	
			
	

</html>