<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio Libertad</title>
		
		<link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script>


	</head>
	<body>


		<div id="menu-container">
			<div id="municipio-foto"><img src="img/2libertad/LibertadC.png" width="200" height="200"></div>				
			<div id="logo-name">Municipio LIbertad</div>
			<div class="separador"></div>
			<ul id="menu-vertical">
				<li><a class="btn" href="index.html">Inicio</a></li>
				<li><a class="btn" href="juegos.html">Juegos</a></li>
				
			</ul>
		</div>	

		
		<div id="container">
			<div id="menu"> 
				<ul>
					<li><a href="#historia">HISTORIA</a></li>
					<li><a href="#geografia">GEOGRAFIA</a></li>
					<li><a href="#inicio" class="logo">&nbsp;</a></li>
					<li><a href="#patrimonio">PATRIMONIO</a></li>
					<li><a href="#cultura">CULTURA</a></li>
				</ul>
			</div> <!--menu-->

			<div id="inicio">
				<div id="slider">	
					<div id="containerSlider">
						<img src="../static/img/BanderaTachira.png" width="850" height="450">
						<img src="../static/img/basilica3.jpg" width="850" height="450">
						<img src="../static/img/chorro.jpg" width="850" height="450">
					</div><!--containerSlider-->		
				</div><!--slider-->			
			</div><!--inicio-->
			
			<div id="historia">
				<h2>INFORMACIÓN E HISTORIA</h2>
				<div class="contenido">

		         	<p align="justify"><strong>Ubicaci&oacute;n:</strong> Se   encuentra   ubicado   en   la   regi&oacute;n   sur-oeste   del   estado T&aacute;chira zona monta&ntilde;osa.</p>
		            <p align="justify"><strong>Limites:</strong> Al norte con los municipios Pedro Mar&iacute;a Ure&ntilde;a y Lobatera al sur con   los   Municipios   C&oacute;rdoba   y   Jun&iacute;n   al   este   con   los   Municipios Independencia y San Crist&oacute;bal y al oeste con los Municipios Bol&iacute;var y Jun&iacute;n.</p>
		            <p align="justify"><strong>Capital:</strong> Capacho Viejo.</p>
		            <p align="justify"><strong>Parroquias: </strong>Parroquia  Libertad,  Parroquia  Cipriano Castro y Parroquia Manuel Felipe R&uacute;geles</p>
		            <p align="justify"><strong>Clima:</strong> Templado. Temperatura Media Anual: 14-22.</p>
		            <p align="justify"><strong>Clima De La Capital:</strong>  Temperatura Media Anual: 18-11..</p>               
		         	<p align="justify"><strong>Tipo De Clima:</strong> Tropical lluvioso de sabana y tropical de sabana.</p>
		            <p align="justify"><strong>Clasificacion Climatica:</strong>Bosque Seco Premontano y Bosque Muy Seco Tropical.</p>
		            <p align="justify"><strong>Contexto Hidrografico:</strong> Constituida Principalmente Por El Rio Tachira.</p>
		            <p align="justify"><strong>Suelos:</strong>De  textura  medias   a  finas,   medianamente  profundos,   con   PH. acido. De acuerdo a su capacidad de uso est&aacute;n conformados por suelos V y VI.</p>
		            <p align="justify"><strong>Fauna:</strong> Especies   asociadas   a   la   vegetaci&oacute;n   existentes,   sin   inventario faun&iacute;stica.</p>
		            <p align="justify"><strong>Flora:</strong> Matorrales  conformados  por  cubierta  vegetal  arbustiva  y  baja y poco   densa,   bosques   protectores   y   plantaciones   forestales   de variedades  como Pinus, Eucaliptos, Fraxinos. </p>
		            <div class="separador"></div>
					<p align="justify">A principios del Siglo XVI,  los pobladores ind&iacute;genas estaban agrupados en cuatro grandes Tribus: Los Carapos,  Los Cuquies, Los Quinimaries y Los Canias. Estos &uacute;ltimos tuvieron el primer  contacto con los conquistadores Espa&ntilde;oles en 1561 cuando el Capit&aacute;n Juan De  Maldonado, en su camino al Valle de Zorca, asent&oacute; campamento en el Valle de  Cania. Cumpliendo instrucciones de Maldonado, Juan de Palencia intento hacer  contacto con los Quinimaries en el mismo a&ntilde;o. Al no ser bien recibido por los ind&iacute;genas  del &aacute;rea, el Capit&aacute;n Maldonado continuo su camino hacia el valle de Zorca  asentando campamento en el mismo y renombr&aacute;ndolo como &ldquo;Valle de Santiago&rdquo;. Es  aqu&iacute; donde posteriormente fundar&iacute;a la hoy ciudad de San Crist&oacute;bal.</p>
                  	<p align="justify">Fue fundado el 27 de julio  de 1602 por el capit&aacute;n espa&ntilde;ol Antonio Beltr&aacute;n de Guevara capacho viejo es la  tierra natal del general Cipriano castro presidente de Venezuela, as&iacute; mismo se  conoce como una ciudad cultural y geogr&aacute;fica&nbsp;  las tierras capachenses vieron salir a la revoluci&oacute;n liberal y  restauradora.</p>
				</div><!--contenido-->
				<div id="tabHistoria">
					<div id="tabs">
						<a href="#">Bandera</a>
						<a href="#">Escudo</a>
						<a href="#">Mapa</a>
					</div><!--tabServicios-->
					<div class="tabContent">
						<img src="../static/img/2libertad/bandera.png" width="400" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/2libertad/escudo.png" width="350" height="350">
					</div>
					<div class="tabContent">
						<img src="../static/img/2libertad/Libertad-tachira.png" width="350" height="350"> 
					</div>
				</div><!--tabServicos-->
			</div><!--contenido-->

			<div id="geografia">
				<h2>GEOGRAFIA</h2>
				<div class="contenido">
					<p align="justify">El Municipio Libertad es uno de los 29 municipios que integran el Estado  T&aacute;chira, Venezuela. Tiene una superficie de 152 km&sup2; y una poblaci&oacute;n de 29.677  en el 2010. Su capital es Capacho Viejo. Este Municipio se caracteriza por su confortable clima ya que es frio y en este paisaje podemos disfrutar de hermosos paisajes y lugares a los cuales podemos visitar. 
					</p>
              		<p align="justify">Comprendida esta como la distancia que hay entre el Meridiano Cero   (Greenwich) y cualquier punto de la tierra. En el caso particular de San   Antonio del T&aacute;chira su longitud geogr&aacute;fica es de 72' 26&quot; Oeste,   mientras que su latitud geogr&aacute;fica se encuentra a 7' 49&quot; Norte,   entendida esta &uacute;ltima como la distancia que hay entre un punto de la   tierra y la l&iacute;nea del Ecuador.</p>
              
					<div id="slideshow">
						<img src="../static/img/2libertad/catedral.gif" width="300" height="230">
						<img src="../static/img/2libertad/museos.jpg" width="300" height="230">
						<img src="../static/img/2libertad/Iglesia.png" width="300" height="230">
						<img src="../static/img/2libertad/parque.jpg" width="300" height="230">
						<img src="../static/img/2libertad/paseo.gif" width="300" height="230">
						<img src="../static/img/2libertad/plaza.gif" width="300" height="230">
						<img src="../static/img/2libertad/artesanal.gif" width="300" height="230">
						<img src="../static/img/2libertad/mazamorra.jpg" width="300" height="230">
					</div><!--slideshow-->
				</div><!--contenido-->	
			</div><!--trabajo-->

			<div id="patrimonio">
				<h2>PATRIMONIO</h2>
				<div class="contenido">
					<p align="justify"><strong>El unico Patrimonio que posee este municipio es:</strong> Paseo Los Proceres.</p>
					<p align="justify">En Loma de Viento resalta la semblanza de lo que fue la vieja casona que cobij&oacute; al General Cipriano Castro, l&iacute;der de la Revoluci&oacute;n Liberal Restauradora. All&iacute; se pueden apreciar objetos que pertenecieron al extinto ex - presidente de la Rep&uacute;blica y a su familia. Se exhiben desde una teja de su casa natal, as&iacute; como fotos, cartas familiares, peri&oacute;dicos hist&oacute;ricos, documentos manuscritos, proclamas, objetos personales, como su bast&oacute;n el cual utiliz&oacute; para posar en una fotograf&iacute;a hacia 1913, en Nueva York, durante el exilio, as&iacute; como armas y registros fotogr&aacute;ficos de sus exequias f&uacute;nebres. Tambi&eacute;n reposa un piano obsequiado por la distinguida pianista Teresa Carre&ntilde;o, a los esposos Castro Ruiz en 1903. En las adyacencias de las ruinas de la casona original, se conserva hoy, el antiguo estanque de almacenamiento de agua.</p>					
					 
				</div><!--contenido-->
			</div><!--patrimonio-->

			<div id="cultura">
				<h2>CULTURA Y SITIOS DE INTERES</h2>
				<div class="contenido">
                	<p><strong>Comidas Típicas</strong></p>
					<p>Pizca Negra</p>
					<p>Ajiaco</p>
					<p>Pasteles de yuca</p>
					<p>Chicha de ma&iacute;z</p>
					<p>Mistela, pi&ntilde;ita, calentado, guarapo fuerte, guarapo de pi&ntilde;a.</p>
					<p><strong>Plaza bol&iacute;var de capacho libertad</strong></p>
					<p><strong>Iglesia san Emigdio:</strong> Esta iglesia fue edificada en la antigua iglesia  destruida por el movimiento s&iacute;smico del 18 de octubre de 1981.</p>
					<p><strong>Parque Cipriano Castro</strong></p>
					<p><strong>Pueblo artesanal Hato de la&nbsp;  Virgen:</strong>Es una de los principales medio de trabajo del municipio, donde  cultivan pi&ntilde;as de calidad de exportaci&oacute;n.</p>
                 	<p><strong>Pueblo artesanal de Lomas Bajas</strong></p>
                 	<p align="justify"><strong>Monumento  hist&oacute;rico Cristo Rey: </strong>Este monumento es un homenaje a Cristo que simboliza un  anhelo de paz y fraternidad entre los dos capachos separados por el terremoto  ocurrido en 1875 el p&aacute;rroco de este municipio busca a un tallista llamado  Valent&iacute;n&nbsp; donde haci fue que naci&oacute; el  cristo con brazos ardientes en se&ntilde;al de uni&oacute;n.</p>
				</div><!--contenido-->
			</div>	
		</div> <!--container-->
	</body>	
	

</html>

