<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio San Cristóbal</title>
		
		<!-- <link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script>-->
		


	</head>
	<body>


		<div id="header">
			<div id="nav-wrapper"> 
				Campaña Admirable 1811 - Municipio San Cristobal - Estado Tachira
			</div>
			
		</div>
        <div id="slider-top">
			<img src="../static/img/4sancristobal/vista_sancris.jpg" > 
			
		</div>

	</body>
	
			
	

</html>