<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio San Cristóbal</title>
        
		<link rel="stylesheet" href="../static/css/skel-noscript.css">
		<!-- <link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script> --> 
		<script src="../static/js/skel.min.js"></script>
 

	</head>
	<body>


		<div id="header" align="center" style="background: #04002D; color:#FFFFFF">
			<div id="nav-wrapper"> 
				Campaña Admirable 1811 - Municipio San Cristobal - Estado Tachira
			</div>
			
		</div>
        <div id="slider-top">
			<img src="../static/img/4sancristobal/vista_sancris.jpg" width="100%" height="500px" > 
			
		</div>
        <div id="back_next" style="font-size:64px; background:#FFF4F4; width:100%; height:200px; padding-top:50px" align="center" >
			 Municipio Tachira 
			
		</div>
        <div class="row">
					<section class="4u">
						 
						<img src="../static/img/4sancristobal/escudo.png" width="350" height="350">
					</section>
					<section class="4u">
						 
						<img src="../static/img/4sancristobal/mapSan.png" width="350" height="350"> 		
					</section>
					<section class="4u">
						<img src="../static/img/4sancristobal/bandera.png" width="400" height="350">					
					</section>

		 </div>
         <div id="back_next" style="font-size:64px; background:#FFF4F4; width:100%; height:200px; padding-top:50px" align="center" >
			 Municipio Tachira 
			
		</div>
        <div id="back_next" style="font-size:64px; background:#FFF4F4; width:100%; height:200px; padding-top:50px" align="center" >
			 Municipio Tachira 
			
		</div>
        <div id="back_next" style="font-size:64px; background:#FFF4F4; width:100%; height:200px; padding-top:50px" align="center" >
			 Municipio Tachira 
			
		</div>
		 <div class="row">
					<section class="4u">
						 
						<img src="../static/img/4sancristobal/escudo.png" width="350" height="350">
					</section>
					<section class="4u">
						 
						<img src="../static/img/4sancristobal/mapSan.png" width="350" height="350"> 		
					</section>
					<section class="4u">
						<img src="../static/img/4sancristobal/bandera.png" width="400" height="350">					
					</section>

		 </div>
          <div class="row">
					
					<section class=" \36u ">
						 
						<img src="../static/img/4sancristobal/mapSan.png" width="350" height="350"> 		
					</section>
					 <section class=" \36u ">
						 
						<img src="../static/img/4sancristobal/mapSan.png" width="350" height="350"> 		
					</section>
					 

		 </div>
         <div id="header" align="center" style="background: #04002D; color:#FFFFFF">
			<div id="nav-wrapper"> 
				Campaña Admirable 1811 - Municipio San Cristobal - Estado Tachira
			</div>
			
		</div>
        <div id="header" align="center" style=" font-size:99px; padding-top:80px;background: #04002D; color:#FFFFFF; height:600px">
			<div id="nav-wrapper"> 
				FOOTER
			</div>
			
		</div>
	</body>
	
			
	

</html>