<!DOCTYPE>
<html lang="es">
	<head>
		<meta charset = "utf-8">
		<title>Municipio San Cristóbal</title>
        
		<link rel="stylesheet" href="../static/css/skel-noscript.css">
		<link rel="stylesheet" href="../static/css/estilos.css">
		<!-- <link rel="stylesheet" href="../static/css/slider.css">
		<link rel="stylesheet" href="../static/css/tabs.css">
		<link rel="stylesheet" href="../static/css/slideshow.css">
		<link rel="stylesheet" href="../static/css/contacto.css">
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/script.js"></script>
		<script src="../static/js/slider.js"></script>
		<script src="../static/js/tabs.js"></script>
		<script src="../static/js/slideshow.js"></script>
		<script src="../static/js/contacto.js"></script>
		<script src="../static/js/botones.js"></script>
		<script src="../static/js/jquery.lettering.js"></script> --> 
		<script src="../static/js/skel.min.js"></script>
 

	</head>
	<body>


		<div id="header" align="center" style="  background: #04002D; color:#FFFFFF; height:35px ; padding-top: 10px;">
			<div id="nav-wrapper"  > 
				Campaña Admirable 1811 - Municipio San Cristobal - Estado Tachira
			</div>
			
		</div>
        <div id="slider-top"  >
			<img src="../static/img/4sancristobal/vista_sancris.jpg" width="100%" height="500px" > 
			
		</div>
        <div class="back_next" style="  font-size:64px; background:#FFF4F4; width:100%; height:200px; padding-top:50px" align="center" >
			 Municipio Tachira 
			
		</div>
        <div class="row"  >
					<section class="4u">						 
						<img src="../static/img/4sancristobal/escudo.png" width="350" height="350">
					</section>
					<section class="4u">
						 
						<img src="../static/img/4sancristobal/mapSan.png" width="350" height="350"> 		
					</section>
					<section class="4u">
						<img src="../static/img/4sancristobal/bandera.png" width="400" height="350">					
					</section>

		 </div>
        <div id="main"  >
			<div id="content" class="container">
	<a name="portafolio"><h2> Informacion General</h2></a>
				<div class="row">
					<section class="6u" style="width:60%">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis libero pulvinar, consequat lacus ac, volutpat orci. Praesent molestie, orci et consectetur auctor, libero metus imperdiet nulla, sit amet pellentesque velit elit vitae orci. Praesent consectetur iaculis orci, vitae consectetur sapien commodo eu. Aliquam tempus metus eu vulputate finibus. Nullam ut nisl nec ex finibus vestibulum eget eget ligula. In non nunc ac leo ultrices consequat. Ut ut velit ante. Nam egestas nibh at congue vehicula.<br>

Fusce lobortis porta sem vel fermentum. Mauris ipsum quam, imperdiet non maximus sit amet, efficitur a sapien. Aenean mattis elementum lorem in mollis. Proin in lorem porta, sodales tellus vel, fringilla ex. Vestibulum sit amet eleifend ligula. Mauris eu mi bibendum, scelerisque tortor quis, vestibulum ante.
</p> 
					</section>				
					<section class="6u" style="width:40%">
						<a href="#" class="image full"><img style="width:450px; height:300px" src="../static/img/4sancristobal/general.jpg" alt=""></a>
					</section>				
				</div>
			
			</div>
		
			
		</div> 
        <div id="main"  >
			<div id="content" class="container">
	<a name="portafolio"><h2> Historia</h2></a>
				<div class="row">
                	<section class="6u" style="width:40%">
						<a href="#" class="image full"><img style="width:450px; height:300px" src="../static/img/4sancristobal/general.jpg" alt=""></a>
					</section>
					<section class="6u" style="width:60%">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis libero pulvinar, consequat lacus ac, volutpat orci. Praesent molestie, orci et consectetur auctor, libero metus imperdiet nulla, sit amet pellentesque velit elit vitae orci. Praesent consectetur iaculis orci, vitae consectetur sapien commodo eu. Aliquam tempus metus eu vulputate finibus. Nullam ut nisl nec ex finibus vestibulum eget eget ligula. In non nunc ac leo ultrices consequat. Ut ut velit ante. Nam egestas nibh at congue vehicula.<br>

Fusce lobortis porta sem vel fermentum. Mauris ipsum quam, imperdiet non maximus sit amet, efficitur a sapien. Aenean mattis elementum lorem in mollis. Proin in lorem porta, sodales tellus vel, fringilla ex. Vestibulum sit amet eleifend ligula. Mauris eu mi bibendum, scelerisque tortor quis, vestibulum ante.
</p> 
					</section>				
									
				</div>
			
			</div>
		
			
		</div> 
        <div id="main"  >
			<div id="content" class="container"  style="margin-bottom:25px;">
	<a name="portafolio"><h2> Cultura</h2></a>
				<div class="row">
					<section class="6u" style="width:60%">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis libero pulvinar, consequat lacus ac, volutpat orci. Praesent molestie, orci et consectetur auctor, libero metus imperdiet nulla, sit amet pellentesque velit elit vitae orci. Praesent consectetur iaculis orci, vitae consectetur sapien commodo eu. Aliquam tempus metus eu vulputate finibus. Nullam ut nisl nec ex finibus vestibulum eget eget ligula. In non nunc ac leo ultrices consequat. Ut ut velit ante. Nam egestas nibh at congue vehicula.<br>

Fusce lobortis porta sem vel fermentum. Mauris ipsum quam, imperdiet non maximus sit amet, efficitur a sapien. Aenean mattis elementum lorem in mollis. Proin in lorem porta, sodales tellus vel, fringilla ex. Vestibulum sit amet eleifend ligula. Mauris eu mi bibendum, scelerisque tortor quis, vestibulum ante.
</p> 
					</section>				
					<section class="6u" style="width:40%">
						<a href="#" class="image full"><img style="width:450px; height:300px" src="../static/img/4sancristobal/general.jpg" alt=""></a>
					</section>				
				</div>
			
			</div>
		
			
		</div>    
        <div class="sitios" style="  padding-bottom:30px">
        <div class="title_sitios" style="text-align: center;font-size: 28px;font-weight: bold;"> <a name="portafolio"><h2>Sitios de Interes</h2></a> </div>
        <div class="title_sitios main container" style="text-align: center;"> 
     
		 <div class="row" style="text-align: justify;">
         
         		 
					<section class="4u">
						<span class="pennant"> <span class="fa fa-book"> </span></span>
					 <img src="../static/img/4sancristobal/michelena.jpg" width="360px" height="250px" > 
						<p>Nuestra principal motivacion es compartir nuestros conocimientos con los amantes de IT. Es por esto que ponemos a tu alcance toda nuestra experiencia y conocimiento. Nuestra principal motivacion es compartir nuestros conocimientos con los amantes de IT. Es por esto que ponemos a tu alcance toda nuestra experiencia y conocimiento.</p>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-laptop"> </span></span>
						<img src="../static/img/4sancristobal/michelena.jpg" width="360px" height="250px" > 
						<p>Somos apasionados por lo que hacemos y queremos mostrarle al mundo que se puede ser creativos, divertirse y aportar soluciones a la sociedad al mismo tiempo. Somos apasionados por lo que hacemos y queremos mostrarle al mundo que se puede ser creativos, divertirse y aportar soluciones a la sociedad al mismo tiempo.</p>			
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-globe"> </span></span>
					 <img src="../static/img/4sancristobal/michelena.jpg" width="360px" height="250px" > 
						<p>Ocasionalmente generamos nuevos eventos para mejorar nuestra sociedad y el planeta. Creemos en la educacion libre y en el compartir del conocimiento Ocasionalmente generamos nuevos eventos para mejorar nuestra sociedad y el planeta. Creemos en la educacion libre y en el compartir del conocimiento</p>						
					</section>
      </div>
	  	 </div>
	</div>	   
          <div id="content"  style="padding-bottom:25px; padding-top:50px; background-color:#F7F6FF">
	 
				<div class="row">
					<section class="6u" style="width:50%">
						<a href="#" class="image full"><img style="width:450px; height:300px" src="../static/img/4sancristobal/general.jpg" alt=""></a>
					</section>					
					<section class="6u" style="width:50%">
						<a href="#" class="image full"><img style="width:450px; height:300px" src="../static/img/4sancristobal/general.jpg" alt=""></a>
					</section>				
				</div>
			
			</div>
        <div class="back_next" style="font-size:64px; background:#ECEBFF; width:100%; height:200px; padding-top:50px" align="center" >
			   
			. 
		</div>
        <div id="header" align="center" style=" font-size:99px; padding-top:80px;background: #04002D; color:#FFFFFF; height:600px">
			<div id="nav-wrapper"> 
				FOOTER
			</div>
			
		</div>
	</body>
	
			
	

</html>